.venv/
venv/
__pycache__/
*.py[cod]
.ipynb_checkpoints/
.vscode/
.idea/
.DS_Store
Thumbs.db
.streamlit/secrets.toml
.env
.cache/
vector_db/*.index
vector_db/chunks.json
*.log

data/raw/ros2/*
!data/raw/ros2/.gitkeep

data/raw/sensors/*
!data/raw/sensors/.gitkeep

data/raw/jetson/*
!data/raw/jetson/.gitkeep

data/raw/esp32_c3/*
!data/raw/esp32_c3/.gitkeep

data/raw/motor_driver/*
!data/raw/motor_driver/.gitkeep

data/raw/audio/*
!data/raw/audio/.gitkeep